.none--style {
  text-decoration: none;
}

.cardAsistant__image {
  width: 300px;
}
.cardAsistant__name {
  margin: 1em 0;
  text-align: center;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.pageHome__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
