.today {
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.8em;
  align-items: center;
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #2e2e2e;
}

.fa-chevron-left {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 1px 2px 5px #fff;
}

.header__targetAsistant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__targetAsistant--image {
  border: 1px dashed #fff;
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
}

.header__targetAsistant--name {
  margin: 0.5em 0;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form {
  width: 100%;
  padding: 0.5em;
  background-color: #fff;
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #2e2e2e;
}

.form__inputText {
  width: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  letter-spacing: -1px;
}

.form__inputSubmit {
  width: 20%;
  font-size: 1.3em;
  border: none;
  outline: none;
  font-weight: 900;
  background-color: #b375c0;
  border-radius: 0.2em;
}
