.form {
  width: 100%;
  padding: 0.5em;
  background-color: #fff;
  box-shadow: 5px 5px 10px #1e1e1e, -5px -5px 10px #2e2e2e;
}

.form__inputText {
  width: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  letter-spacing: -1px;
}

.form__inputSubmit {
  width: 20%;
  font-size: 1.3em;
  border: none;
  outline: none;
  font-weight: 900;
  background-color: #b375c0;
  border-radius: 0.2em;
}
